[Unit]
Description=FIDO2 Detach Service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/encrypted_files close_all
User=root
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
